<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Utilité des groupes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Les groupes servent à créer des événements et des notes partagées. Pour ajouter un membre à un groupe, il faut utiliser un compte déjà existant.
    </ion-card-content>

  </ion-card>

  <form [formGroup]="groupForm" (ngSubmit)="addGroup()">
    <ion-item>
      <ion-label position="floating">Nom du groupe</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="groupForm.invalid" class="ion-margin-top">
      Ajouter un groupe
    </ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let group of groups">
      <ion-label>{{ group.name }}</ion-label>
      <ion-button fill="clear" (click)="deleteGroup(group.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="toggleMemberForm(group.id)">
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedGroupId">
    <ion-card-content>
      <h2>Gérer les membres du groupe</h2>
      
      <ion-list>
        <ion-item *ngFor="let member of groupMembers">
          <ion-label>{{ member.email }}</ion-label>
          <ion-button fill="clear" (click)="removeMember(member.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <form [formGroup]="memberForm" (ngSubmit)="addMember()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="memberForm.invalid" class="ion-margin-top">
          Ajouter un membre
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="errorMessage">
    <ion-card-content>
      <ion-text color="danger">{{ errorMessage }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>