<div>
    <div class="title">
      <div class="icon">
        <ion-icon name="person-circle-outline" color="primary"></ion-icon>
      </div>
      <div class="text">
        <ion-text>
          <span>Mot de passe oublié</span>
        </ion-text>
      </div>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form">
            <div class="item">
            <ion-label>Email</ion-label>
            <ion-input class="custom-input" shape="round"  placeholder="ex: jon.smith@email.com" formControlName="email" type="email"></ion-input>
          </div>
          <ion-button expand="block" type="submit" [disabled]="forgotPasswordForm.invalid || isLoading" class="ion-margin-top">
            Réinitialiser le mot de passe
          </ion-button>
      </div>
    </form>
  </div>