  <div>
  <div class="title">
    <div class="icon">
      <ion-icon name="person-circle-outline" color="primary"></ion-icon>
    </div>
    <div class="text">
      <ion-text>
        <span>Create your account</span>
      </ion-text>
    </div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSignup()">
    <div class="form">
      <div class="item">
        <ion-label>Email</ion-label>
        <ion-input class="custom-input" shape="round" formControlName="email" placeholder="ex: jon.smith@email.com"></ion-input>
      </div>
      
      <div class="item">
        <ion-label>Password</ion-label>
        <ion-input class="custom-input" shape="round" formControlName="password" placeholder="*********" type="password"></ion-input>
      </div>

      <div class="item">
        <ion-label>Confirm password</ion-label>
        <ion-input class="custom-input" shape="round" formControlName="confirmPassword" placeholder="*********" type="password"></ion-input>
      </div>
    </div>

    <div class="actions">
      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid || isLoading">S'inscrire</ion-button>
      <br>
      <ion-text class="text-right">Déjà un compte ? <a (click)="onClick('login')">Connexion</a></ion-text>
    </div>
  </form>
</div>