<ion-content class="ion-padding">
  <div class="title">
    <div class="icon">
      <ion-icon name="person-circle-outline" color="secondary"></ion-icon>
    </div>
    <div class="text">
      <ion-text>
        <span>Create your account</span>
      </ion-text>
    </div>
    
  </div>
  <div class="form">
    <div class="item">
      <ion-label>Email</ion-label>
      <ion-input class="custom-input" shape="round" placeholder="ex: jon.smith@email.com"></ion-input>
    </div>
      
    <div class="item">
      <ion-label>Password</ion-label>
      <ion-input class="custom-input" shape="round" placeholder="*********" type="Password"></ion-input>
    </div>

    <div class="item">
      <ion-label>Confirm password</ion-label>
      <ion-input class="custom-input" shape="round" placeholder="*********" type="Password"></ion-input>
    </div>
  </div>

  <div class="actions">
    <ion-button expand="block" color="secondary" (click)="onClick('register')">S'incrire</ion-button>
    <br>
    <ion-text class="text-right">Déjà un compte ? <a (click)="onClick('login')">Connexion</a></ion-text>
  </div>
</ion-content>
