    <ion-list>
        @for (note of notes$ | async; track note) {
          <ion-item class="custom-item" (click)="editNote(note)">
            <ion-label>
              {{ note.title }}
              <p>{{ note.content | slice:0:50 }}</p>
            </ion-label>
            <ion-button fill="clear" (click)="deleteNote(note.id, $event)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
      }
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addNote()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>