  <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Mes Notes</ion-title>
        <ion-buttons slot="end">
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding custom-content">
    <ion-list>
        @for (note of notes$ | async; track note) {
          <ion-item class="custom-item" (click)="editNote(note)">
            <ion-label>
              {{ note.title }}
              <p>{{ note.content | slice:0:50 }}</p>
            </ion-label>
          </ion-item>
      }
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addNote()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>