<ion-content class="ion-padding">
    <div class="title">
      <div class="icon">
        <ion-icon name="person-circle-outline" color="secondary"></ion-icon>
      </div>
      <div class="text">
        <ion-text>
          <span>Sign in your account</span>
        </ion-text>
      </div>
      
    </div>
    <div class="form">
      <div class="item">
        <ion-label>Email</ion-label>
        <ion-input class="custom-input" [(ngModel)]="username" shape="round" placeholder="ex: jon.smith@email.com"></ion-input>
      </div>
        
      <div class="item">
        <ion-label>Password</ion-label>
        <ion-input class="custom-input" [(ngModel)]="password"  shape="round" placeholder="*********" type="Password"></ion-input>
      </div>
    </div>

    <div class="actions">
      <ion-button expand="block" color="secondary" (click)="onClick('login')">Connexion</ion-button>
      <br>
      <ion-text class="text-right">Pas de compte ? <a (click)="onClick('register')">S'incrire</a></ion-text>
    </div>
</ion-content>
