  .title {
    text-align: center;
    margin: 50px;
    font-weight: bold;
    font-size: 26px;
    .icon {
      font-size: 120px;
    }
    .text {
      p {
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
  .form {
    padding: 0 50px 50px 50px;
    * {
      margin-bottom: 10px;
    }
    .custom-input {
      background-color: #EEE;
      opacity: 100%;
      border-radius: 10px;
    }
  }

  .actions {
    padding: 0 50px 50px 50px;
    .text-right {
      text-align: right;
    }
  }
