<div>
<div class="title">
    <div class="icon">
      <ion-icon name="person-circle-outline" color="primary"></ion-icon>
    </div>
    <div class="text">
      <ion-text>
        <span>Sign in to your account</span>
      </ion-text>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form">
      <div class="item">
        <ion-label>Email</ion-label>
        <ion-input class="custom-input" formControlName="email" shape="round" placeholder="ex: jon.smith@email.com"></ion-input>
      </div>
      
      <div class="item">
        <ion-label>Password</ion-label>
        <ion-input class="custom-input" formControlName="password" shape="round" placeholder="*********" type="password"></ion-input>
      </div>
    </div>

    <div class="item">
      <ion-label>{{errorLabel}}</ion-label>
    </div>

    <div class="actions">
      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid || isLoading">Connexion</ion-button>
      <br>
      <div class="text-container">
        <span class="text-right">Pas de compte ? <a (click)="onClick('register')">S'inscrire</a></span>
        <span class="text-left"><a (click)="onClick('forgotpassword')">Mot de passe oublié</a></span>
      </div>
    </div>
  </form>
</div>