// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-font-family: 'Poppins', sans-serif;

    // PRIMARY (Couleur principale)
    --ion-color-primary: #a85100; /* Brun orangé */
    --ion-color-primary-rgb: 168, 81, 0;
    --ion-color-primary-contrast: #ffffff; /* Blanc pour le contraste */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #8e4300; /* Teinte plus foncée */
    --ion-color-primary-tint: #b56300; /* Teinte plus claire */
  
    // SECONDARY (Couleur secondaire)
    --ion-color-secondary: #800B00; /* Rouge foncé */
    --ion-color-secondary-rgb: 128, 11, 0;
    --ion-color-secondary-contrast: #ffffff; /* Blanc pour le contraste */
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #700A00; /* Teinte plus foncée */
    --ion-color-secondary-tint: #901C00; /* Teinte plus claire */
  
    // TERTIARY (Couleur d'accent)
    --ion-color-tertiary: #FBF7F4; /* Blanc cassé */
    --ion-color-tertiary-rgb: 251, 247, 244;
    --ion-color-tertiary-contrast: #000000; /* Noir pour le contraste */
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e6e1de; /* Teinte plus foncée */
    --ion-color-tertiary-tint: #ffffff; /* Teinte plus claire */

  // SUCCESS
  --ion-color-success: #25ae93;
  --ion-color-success-rgb: 37, 174, 147;
  --ion-color-success-contrast: #2F343A;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #219981;
  --ion-color-success-tint: #3bb69e;

  // DANGER
  --ion-color-danger: #e24c4c;
  --ion-color-danger-rgb: 226, 76, 76;
  --ion-color-danger-contrast: #2F343A;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #c74343;
  --ion-color-danger-tint: #e55e5e;

  // WARNING
  --ion-color-warning: #e97938;
  --ion-color-warning-rgb: 233, 121, 56;
  --ion-color-warning-contrast: #2F343A;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cd6a31;
  --ion-color-warning-tint: #eb864c;

  //unavailable
  --ion-color-unavailable: #ccc;
  --ion-color-unavailable-rgb: 204, 204, 204;
  --ion-color-unavailable-contrast: #2F343A;
  --ion-color-unavailable-contrast-rgb: 0, 0, 0;
  --ion-color-unavailable-shade: #b4b4b4;
  --ion-color-unavailable-tint: #d1d1d1;
}

.ion-color-unavailable {
  --ion-color-base: var(--ion-color-unavailable);
  --ion-color-base-rgb: var(--ion-color-unavailable-rgb);
  --ion-color-contrast: var(--ion-color-unavailable-contrast);
  --ion-color-contrast-rgb: var(--ion-color-unavailable-contrast-rgb);
  --ion-color-shade: var(--ion-color-unavailable-shade);
  --ion-color-tint: var(--ion-color-unavailable-tint);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

.light-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 400;
}

.bold-text {
  font-weight: 700;
}
