:host ::ng-deep .fc-toolbar-title {
  font-size: 1.2em;
}
:host ::ng-deep .fc-button {
  font-size: 0.9em;
}

.content-custom {
  padding: 10px;
  height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.event-list-container {
  top: 450px;
  height: calc(100vh - 515px);
  overflow-y: auto;
  .event-list {
    padding: 0 16px;

    .date-group {
      position: relative;
    margin-bottom: 20px;
      .date-header {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
        position: sticky;
        top: 0;
        background-color: #fff;
        padding: 10px 0;
        z-index: 1;
      }
    }


    .event-item {
      margin-bottom: 16px;
      border-left: 4px solid;
      padding-left: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .event-time {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        min-width: 60px;

        .start-time {
          font-size: 16px;
          font-weight: bold;
        }

        .end-time {
          font-size: 14px;
          color: #666;
        }
      }
    }
    .event-details {
      flex: 1;

      .event-title {
        font-size: 16px;
        margin: 0 0 4px 0;
      }

      .event-description {
        font-size: 14px;
        color: #666;
        margin: 0;
      }
    }

    .event-buttons {
      display: flex;
      align-items: center;

      ion-button {
        --padding-start: 5px;
        --padding-end: 5px;
        width: 40px;
      }
    }
  }
}

.fc-event:hover {
  background-color: inherit !important;
  border-color: inherit !important;
}
