  <div class="content-custom">
    <div class="calendar-custom">
      <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="event-list-container">
    <div class="event-list">
      @for (group of groups; track $index) {
      <div class="date-group">
        <h2 class="date-header">{{ group.date | date : "EEEE d MMMM" }}</h2>
        <div class="events">
          @for (event of group.events; track event.id) {
          <div class="event-item" [style.borderColor]="event.backgroundColor">
            <div class="event-time">
              <span class="start-time">{{ event.start | date : "HH:mm" }}</span>
              <span class="end-time">{{ event.end | date : "HH:mm" }}</span>
            </div>
            <div class="event-details">
              <h3 class="event-title">{{ event.title }}</h3>
              <p class="event-description">{{ event.description }}</p>
            </div>
            <div class="event-buttons">
                <ion-button fill="clear" (click)="editEvent(event)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="confirmDeleteEvent(event)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </div>
          </div>
          }
        </div>
      </div>
      }
    </div>
    </div>
  </div>
